<html>
    <head>
        <title>
            <%= title %>
        </title>

        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>

    </head>

      <body>
        
        <!-- <%- include('_header.ejs'); %> we can also right like this. -->
        <%- include('_header'); %>
        
        <main id="layout-main">
          <%- body %>
        </main>
        

        <%- include('_footer'); %>
        <!-- <%- include('_footer.ejs'); %> we can also use .ejs extenstion. -->

        <%- script %>
      </body>
</html>